<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Azure.Core" version="1.38.0" targetFramework="net472" />
  <package id="Azure.Identity" version="1.11.4" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.Memory" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="2.9.4" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Data.SqlClient" version="5.1.4" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient.SNI" version="5.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="4.61.3" targetFramework="net472" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="4.61.3" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="8.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="8.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.24.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="6.24.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="8.6.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Assessment" version="1.1.9" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Assessment.Authoring" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Management.SqlParser" version="160.20216.14" targetFramework="net472" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="171.30.0" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.0.26606" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Imaging" version="15.0.26606" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="17.7.22" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.9" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="15.0.26606" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.0.26606" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30319" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61030" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30110" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.3.DesignTime" version="15.0.26606" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30729" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading" version="15.3.23" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.3.52" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.0.26606" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.15" targetFramework="net472" />
  <package id="Microsoft.VSSDK.BuildTools" version="17.10.2179" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VsSDK.CompatibilityAnalyzer" version="17.10.2179" targetFramework="net472" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ClientModel" version="1.0.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.2" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="8.6.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Memory.Data" version="1.0.2" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="8.0.5" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>